<div class="dashboard flex-column">
  <app-account-header></app-account-header>
  <mat-sidenav-container class="dashboard-content-container flex">
    <mat-sidenav mode="side" opened>
      <button mat-stroked-button>All Notes</button>
      <hr>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="flex-row flex-wrap flex-list">
        <a [routerLink]="['/note', file.id]" *ngFor="let file of this.notes">
          <mat-card class="flex-column justify-between">
            <mat-icon>insert_drive_file</mat-icon>
            <mat-card-content>{{file.title}}</mat-card-content>
          </mat-card>
        </a>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
