.dashboard {
  height: 100vh;
}

.dashboard-content-container {
  mat-sidenav {
    min-width: 200px;
    padding: 20px;
    padding-right: 30px;

    button {
      width: 100%;
    }
  }
  
  mat-sidenav-content {
    padding: 20px;

    mat-card {
      height: 120px;
      width: 120px;
      text-align: center;

      img {
        height: 80px;
        margin-bottom: 10px;
      }

      mat-card-content {
        font-size: 16px;
      }
    }
  }
}