<div class="login-wrapper">
  <p>Log In With:</p>
  <div class="flex-column flex-list">
    <button class="provider flex-row align-center justify-center">
      <img src="assets/fontawesome/brands/google.svg" alt="(G)"> Google
    </button>
    <p>or</p>
    <form class="login-form flex-column flex-list" action="">
      <input type="text" aria-label="Your Email" placeholder="Email">
      <input type="text" aria-label="Your Password" placeholder="Password">
      <button class="provider">Log In</button>
    </form>
  </div>
  <br>
</div>