<div *ngIf="shown" (click)="closeDialog()" class="page-overlay flex-column justify-center align-center">
  <mat-card (click)="stopPropagation($event)">
    <mat-card-title>Paste Text</mat-card-title>
    <form action="" class="flex-column">
      <mat-form-field>
        <mat-label>Note Name</mat-label>
        <input matInput id="title" name="title" [(ngModel)]="this.title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Paste your Text Here</mat-label>
        <textarea matInput id="text" name="text" [(ngModel)]="this.text"></textarea>
      </mat-form-field>
      <div class="flex-row justify-end">
        <button mat-raised-button (click)="submitText()">Submit</button>
      </div>
    </form>
  </mat-card>
</div>